/* Tag Selectors*/
body{
    font-family: 'Merriweather Sans', sans-serif;
}

/* Standard Headings*/
.main-heading{
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
}
.sub-heading{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
}
.last-update-text{
    font-weight: light;
    color: rgba(0,0,0,.5);
    font-size: 1rem;
}
.main-text{
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}

/*Side bar */
/* .sidenav {
    width: 130px;
    position:absolute;
    z-index: 1;
    top: 60px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  */
  .main {
    padding: 7% 20%;

  }
  /*
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
 
  /* Title */
.main-photo{
    height:640px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
.photo-caption{
    margin-top: 0.5rem;
    text-align: center;
    font-size:small;
    font-weight: light;
}
.responsive{
    max-width: 100%;
    height: auto;
}


/* Blog Section */
.game-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Lyric Section */
#lyric{
    text-align: center;
    margin: 0 0 1rem;
    padding: 1%;
}

/* Disclaimer section */
#disclaimer{
    text-align:center;
    background-color: #A4BE7B;
}
.disclaimer-icon{
    margin: auto 0.5rem;
}
.disclaimer-text{
    padding-top: 1rem;
    text-align: left;
}

/*Footer Section*/
#contact-me{
    text-align: center;
    background-color: #E5D9B6;
    color: black;
    padding: 2%;
}
.socials{
    margin: 0 1rem;
    color: black;
}
.socials:hover{
    color:rgba(0,0,0,.5);
}
.copyright{
    margin-top: 2rem;
    padding:none;
}
